#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
main {
  flex: 1;
}

.topbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90;
  max-width: 1200px;
  padding: 14px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(15,23,42,0.6);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.08);

  z-index: 1000;
}
.logo {
  font-weight: 800;
  letter-spacing: 1px;
}
.links a {
  margin-left: 20px;
  color: #cbd5f5;
  text-decoration: none;
  transition: 0.2s;
}
.links a:hover{
  color: lightskyblue;
}


.hero {
  padding: 40px 24px;
  background: saddlebrown;
  color: black;
}

.footer {
  text-decoration: none;
  text-align: center;
  padding:12px;
  background: #020617;
  color: #94a3b8;
  font-size: 14px;
}
