#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
main {
  flex: 1;
}




.hero {
  padding: 40px 24px;
  background: saddlebrown;
  color: black;
}

.footer {
  text-decoration: none;
  text-align: center;
  padding:12px;
  background: #020617;
  color: #94a3b8;
  font-size: 14px;
}
