html,body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: radial-gradient(
    circle at top,
    #0f172a,
    #020617 70%
  );
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.topbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90;
  max-width: 1200px;
  padding: 14px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
 background: rgba(2, 6, 23, 0.55);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.08);

  z-index: 1000;
}
.logo {
  color: whitesmoke;
  font-weight: 1000;
  letter-spacing: 1px;
}
.links a {
  margin-left: 20px;
  color: #cbd5f5;
  text-decoration: none;
  transition: 0.2s;
}
.links a:hover{
  color: lightskyblue;
}


.hero {
  position: relative;
  margin-top: 140px;
  margin-left: 60px;
  max-width: 520px;

  background: rgba(2,6,23,0.6);
  backdrop-filter: blur(18px);
  border-radius: 24px;
  padding: 32px;

  border: 1px solid rgba(255,255,255,0.06);

  animation: fadeUp 0.8s ease forwards;
  z-index: 500;
}
.hero h1{
  color: wheat;
  font-size: 44px;
  line-height: 1.1;
  font-weight: 900;
}
.hero h1 span {
  color: #38bdf8;
}
.hero p {
  margin-top: 16px;
  color: #cbd5f5;
  font-size: 20px;
}
@keyFrames fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);  
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.map-container {
  height: 520px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.map-section {
  margin: 60px auto;
  width: 92%;
  max-width: 1400px;

  background: rgba(15,23,42,0.6);
  backdrop-filter: blur(20px);
  border-radius: 28px;
  padding: 16px;
  border: 1px solid rgba(255,255,255,0.08);
}

.footer {
  margin-top: 120px;
  padding: 60px 0;
  background: linear-gradient(
    to bottom,
    rgba(15,23,42,0.4),
    rgba(2,6,23,0.95)
  );
  backdrop-filter: blur(16px);
  border-top: 1px solid rgba (255,255,255,0.8);
}
.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left h3 {
  color: #e5e7eb;
  font-size: 22px;
  margin-bottom: 6px;
}
.footer-left p {
  color: #94a3b8;
  max-width: 360px;
}
.footer-right {
  text-align: right;
}
.author {
  color: #38bdf8;
  font-weight: 700;
  cursor: pointer;
}
.author:hover {
  text-shadow: 0 0 12px rgba(56,189,248,0.7);
}
.hackclub span {
  color: #facc15;
  font-weight: 700;
}