#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.topbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90;
  max-width: 1200px;
  padding: 14px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
 background: rgba(2, 6, 23, 0.55);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.08);

  z-index: 1000;
}
.logo {
  color: whitesmoke;
  font-weight: 1000;
  letter-spacing: 1px;
}
.links a {
  margin-left: 20px;
  color: #cbd5f5;
  text-decoration: none;
  transition: 0.2s;
}
.links a:hover{
  color: lightskyblue;
}


.hero {
  position: relative;
  margin-top: 140px;
  margin-left: 60px;
  max-width: 520px;

  background: rgba(2,6,23,0.6);
  backdrop-filter: blur(18px);
  border-radius: 24px;
  padding: 32px;

  border: 1px solid rgba(255,255,255,0.06);

  animation: fadeUp 0.8s ease forwards;
  z-index: 500;
}
.hero h1{
  color: wheat;
  font-size: 44px;
  line-height: 1.1;
  font-weight: 900;
}
.hero h1 span {
  color: #38bdf8;
}
.hero p {
  margin-top: 16px;
  color: #cbd5f5;
  font-size: 20px;
}
@keyFrames fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);  
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer {
  margin-top: 80px;
  padding: 30px 0;
  text-align: center;
 background: rgba(94, 108, 170, 0.6);

  color: #23e741;
  font-size: 20px;
  font-weight: 900;
  font-style: bold;
  border-top: 5px solid rgba(159, 147, 147, 0.4);
}
.map-container {
  height: 520px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.map-section {
  margin: 60px auto;
  width: 92%;
  max-width: 1400px;

  background: rgba(15,23,42,0.6);
  backdrop-filter: blur(20px);
  border-radius: 28px;
  padding: 16px;
  border: 1px solid rgba(255,255,255,0.08);
}